footer {
    padding: 0 25px 50px 25px;
}
.footer-container {
    /* display: flex; */
    border-top: 1px solid var(--text-light-color);
    border-bottom: 1px solid var(--text-light-color);
    padding: 10px 0;
}
.footer-copyright {
    text-align: center;
    font-size: 12px;
    padding-top: 5px;
    color: var(--text-light-color);
}
.footer-column {
    margin-bottom: 25px;
    /* border-top: 1px solid #bdbdbd; */
    /* border-bottom: 1px solid #bdbdbd; */
}
.footer-column:last-of-type {
    margin-bottom: 0px;
}
.footer-heading {
    font-size: 14px;
    color: var(--text-dark-color);
}
.footer-item {
    font-size: 14px;
    padding: 2px 5px;
    color: var(--text-light-color);
}
footer a {
    color: var(--text-light-color);
}