html, body {
    --text-dark-color: #eeeeee;
    --text-light-color: #888888;
    --background-color: rgb(31, 31, 31);
    --nav-bar-background-color: rgba(70, 69, 69, 0.5);
}
html, body {
    background-color: var(--background-color);
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
a {
    text-decoration: none;
}
section {
    margin-top: 100px;
}
section:last-of-type {
    margin-bottom: 100px;
}

.heading-1 {
    background-color: red;
    text-align: center;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 11px 0;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: var(--text-dark-color);
    background-color: var(--nav-bar-background-color);
    backdrop-filter: blur(100px);
    -webkit-backdrop-filter: blur(100px);
}

.img-primary {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    /* background-color: red; */
}
#Mossaik-pro-img-1 {
    background-image: url(../images/main.png);
}

.text-1 {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 28px;
    color: var(--text-light-color); 
    padding: 0 25px 50px 25px;
}

.img-collage-1 {
    width: 100%;
    height: 650px;
}
.inset-img {
    width: 90%;
    margin-left: 5%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(44, 44, 44);
}
.inset-img-left {
    margin-top: 25px;
    background-image: url(../images/main.png);
}
.inset-img-right {
    background-image: url(../images/main.png);
}

.text-darker {
    color: var(--text-dark-color);
}


.banner-img-1, .banner-img-2 {
    width: 100%;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url(../images/main.png);
}
.text-container-1, .text-container-2 {
    padding: 0 25px 50px 25px;
}
.creative-text-1 {
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    color: var(--text-dark-color);
}
.creative-text-2 {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: var(--text-light-color);
}
.text-3, .text-6 {
    margin-top: 40px;
}
.creative-text-3 {
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 36px;
}
.creative-text-4 {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
}

.section-buy {
    padding: 0 25px 50px 25px;
}
.app-logo {
    background-position: center;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;
    background-color: red;
    background-size: contain;
    background-image: url(../images/sample.png);
    margin: 0 auto;
}
.app-name {
    text-align: center;
    margin-top: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 25px;
    color: var(--text-dark-color);
}
.app-substr {
    text-align: center;
    margin-top: 12px;
    font-style: normal;
    color: var(--text-light-color);
}
.app-link {
    background-color: rgb(44, 103, 207);
    text-align: center;
    width: 100px;
    padding: 8px 0;
    border-radius: 100px;
    margin: 0 auto;
    font-size: 12px;
    margin-top: 20px;
    text-transform: uppercase;
    color: white;
}